doctype html
html
    head
        title 注册
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="format-detection" content="telephone=no")
        link(rel="stylesheet" type="text/css" href="/frozen/css/frozen.css")

    body
        header(class="ui-header ui-header-positive ui-border-b") 
            h1 附近在卖的书籍

        input(type='text' class="form-control" name='name' placeholder="book name" )
        input(type='text' class="form-control" name='code' placeholder="book code")
        div(class='heigh-20')
        button(type='button' class='btn btn-primary' id='to-add-book') add book
        p(id="error-message") #{message}
        
        if result
            if result.list.length
            table
                tr
                    th(style='width:50px;') #
                    th(style='width:100px;') 书名
                    th(style='width:100px;') 编号
                    th(style='width:300px;') 添加时间
                    th(style='width:200px;') 作者
                    th(style='width:100px;') 作者编号
                each item , index in result.list
                    tr
                        each value ,iindex in item
                            td= value
            nav(style="margin:10px;")
                if(result.totalPage==0)
                    a(href="/book" style ="width:20px;display:inline-block;") 1
                else
                    if (result.page >0)
                        a(href="/book/#{result.page}" style ="width:20px;display:inline-block;") #{result.page}
                    a(href="/book/#{result.page+1}" style ="width:20px;display:inline-block;") #{result.page+1}
                    if (result.totalPage>result.page)
                        a(href="/book/#{result.page+2}" style ="width:20px;display:inline-block;") #{result.page+2}

        footer(class="ui-footer ui-footer-btn")
            ul(class="ui-tiled ui-border-t")
                li(data-href="../index.html" class="ui-border-r")
                    div 活动
                li(data-href="/book" class="ui-border-r")
                    div 我的书籍
                li(data-href="/home/login.html") 
                    div 用户

            
    script( type="text/javascript" src="/asset/jquery/jquery-2.2.1.js")
    script( type="text/javascript" src="/asset/bootstrap/bootstrap.min.js")
    script( type="text/javascript" src="/js/book.js")

    script.
        $('button.ui-btn ').click(function () {
            if ($(this).data('href')) {
                location.href = $(this).data('href');
            }
        });
        $('.ui-list li,.ui-tiled li').click(function () {
            if ($(this).data('href')) {
                location.href = $(this).data('href');
            }
        });
        $('.ui-header .ui-btn').click(function () {
            location.href = 'index.html';
        });
